.footer{
  margin-bottom: 40px;
} 

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  padding-left: 10px;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  position: absolute;
  bottom: 0;
}
  