@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  background-color: #F2F2F2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* parameters for the header section */
}
.logo{
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.logo_place_header{
  width: 154px;
  height: 31px;
  background-image: url("../images/logo_place_header.png");
  position: absolute;
  left:54px;
  top: 30px;
}
.header__title{
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}
.header__subtitle{
  width: 388px;
  margin-left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__link{
  margin-left: 64px;
  color: #2F80ED;
  text-decoration: none;
}
.header__link:hover{
  color: grey;
  transition:background-color 0.5s;
}

.main-ilustration{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 756px;
  height: 608px;
  object-fit: cover;
  z-index: 1;
}
.header__square{
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color:  #2F80ED; 
  transform: rotate(-15deg);
 }


/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  z-index: 5;
  display: flex;
  margin-right: 64px;
  margin-top: 30px;
  
}
.description{
  display: flex;
  justify-content: center;
  margin-top: 100px;       
}
.two-columns{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}
.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  bottom: 100px;
  color: #2F80ED;
  width: 175px;
}
.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px; 
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques{
  margin-top:100px;
}
/* including elements with key-value modifiers */
.digits{
  margin: 0;
  padding: 0;
  margin-top: 70px;
}
.section-title{  
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.section-title h1{
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 0;
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
}
.section-subtitle{  
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.section-subtitle h4{
  display: flex;
  justify-content: center;
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
  flex-wrap: wrap;
}
.table{
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.table__cell{
  width: 250px;
  margin-bottom: 60px;
}
.table__heading{
  line-height: 1.15;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 0;
}

.feynman{
  background-color: #F2F2F2 ;
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  height: 790px;
  width: 100%;
  position: relative;  z-index: -1;
  position: relative;
  z-index: -1;
}


.feynman__title{    
  width: 775px; 
}
.feynman__title h1{
  padding: 0;
  margin: 0;
  margin-top: 100px;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  line-height: 1.15;
}
.feynman__subtitle{  
  display: flex;
  justify-content: center;
}
.feynman__subtitle h4{
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: 0;
  padding: 0;
  margin-top: 70px;
}
.feynman__image{
  position: absolute;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
  bottom: 0;
}
.feynman__link{
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
}
.feynman__link:hover{
  color: grey;
  transition:background-color 1s linear 0.5s;
}
.kaufman{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
  overflow: hidden;
  z-index: -2;
 
}
.section-title_theme_dark{   
  display: flex;
  justify-content: center;  
}
.section-title_theme_dark h3{
  width: 60%;
  font-size: 60px;
  font-weight: bold;
  color: white;
  line-height: 1.15;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 90px;
}
.section-subtitle_theme_dark{
  display: flex;
  justify-content: center;  
}
.section-subtitle_theme_dark h5{
  font-size: 24px;
  font-weight: normal;
  color: white;
  line-height: 34px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.table_theme_dark{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 90px;
}
.table-cell_theme_dark {
  font-size: 24px;
  font-weight: bold;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table-heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: white;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.table-text_theme_dark{
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.kaufman__triangle{  
  position: absolute;
  top: 0;
  right: -124px;
  z-index: -2;
  overflow: hidden;
}
.footer{
  min-height:350px;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  }
.footer__columns{
  width: 90%;
  display: flex;
}
.footer__column-vacia{
  width: 9%;
}
.logo-place-footer{
  width: 183px;
  height: 35px;
}
.footer__column-content-copyright{
  color: white;
  width: 50%;
  position: relative;
  
}
.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  padding-left: 10px;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  position: absolute;
  bottom: 0;
}
.footer__column-content-about{
  width: 16%;
}
.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}
.footer__list{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-align: left;
  padding: 0;
}
.footer__column-content-social{
  color: white;
  width: 15%;
}
.footer__social-icons{
  display: flex;
  margin-bottom: 10px;
}
.footer__social-icons h5{
  margin: 0;
  padding: 0;
  margin-left: 10px;
}